<p id="notice"><%= notice %></p>

<h3 class='d-flex justify-content-between'>
<span>Notebooks</span>
<%= link_to 'New Notebook', new_notebook_path, class: 'btn btn-primary' %>
</h3>

<div class="row">
  <% @notebooks.each do |notebook| %>
   <div class="col-md-4">       
     <div class="card notebook-card mb-4">
       <div class="card-body p-4">
         <h5 class='card-title d-flex justify-content-between'> 
          <%= link_to notebook.title, notebook %>           
            <div class="dropdown">
              <button class="btn btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-ellipsis-h"></i>
              </button>
             <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               <li> <%= link_to 'Edit', edit_notebook_path(notebook), class: 'dropdown-item' %></li>  
             <li>  <%= link_to 'Delete', notebook, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item'  %></li> 
             </ul>
          </div>
         </h5>
         <div class="stats mb-4">
           <p class='pages-count'><%= notebook.pages.count %> pages </p>
         <p class='started'> Started <%= time_ago_in_words(notebook.created_at)%> ago </p>
         </div>        
         <%= link_to "View", notebook, class: 'btn btn-primary' %>
       </div>
     </div>
   </div>
  <% end %>
</div>

<br>


